# Strava-Vis: Beta Release
**Alex Howard & Taylor Pellerin**

In [33]:
import pandas as pd
from datetime import *
import numpy as np
import math
import  plotly.plotly  as py
import plotly.graph_objs as go
import json
from geoplotlib.layers import BaseLayer
from geoplotlib.core import BatchPainter
import geoplotlib
from geoplotlib.colors import colorbrewer
from geoplotlib.utils import epoch_to_str, BoundingBox, read_csv

In [34]:
metres_mile = 1609.34
workout_type_dict = {0:'Run',1:'Race',2:'Long Run',3:'Workout'}

## Data Pre-Processing

In [35]:
data = json.load(open('alex_activities_latlng.json'))

In [36]:
len(data)

200

In [37]:
sample = data

In [38]:
alex_csv = "runner_id,lat,lon,timestamp\n"

for i in range(len(sample)):
    time_stamp = 0
    try:
        lat_lng = sample[i][0]["data"]
    except: continue
    try:
        for lat, lon in lat_lng:
            time_stamp += 120
            alex_csv += ",".join([str(i),
                                  str(lat),
                                  str(lon),
                                  str(time_stamp)
                                 ]) + "\n"
    except: pass

f = open("alex.csv", "w") 
f.write(alex_csv) 
f.close()

In [39]:
activities_df = pd.read_json('alex_all_acts.json')
data = json.load(open('alex_activities_latlng.json'))

In [40]:
activities_df.head()

,achievement_count,athlete,athlete_count,average_cadence,average_heartrate,average_speed,average_watts,comment_count,commute,device_watts,...,start_longitude,timezone,total_elevation_gain,total_photo_count,trainer,type,upload_id,utc_offset,weighted_average_watts,workout_type
0,0,"{u'resource_state': 1, u'id': 6831078}",1,91.4,NaN,3.897,NaN,0,False,NaN,...,-122.45,(GMT-08:00) America/Los_Angeles,116.9,0,False,Run,1.632966e+09,-25200,NaN,NaN
1,0,"{u'resource_state': 1, u'id': 6831078}",2,91.0,NaN,3.761,NaN,0,False,NaN,...,-122.46,(GMT-08:00) America/Los_Angeles,25.2,0,False,Run,1.630031e+09,-25200,NaN,0.0
2,3,"{u'resource_state': 1, u'id': 6831078}",2,91.5,NaN,4.159,NaN,0,False,NaN,...,-122.46,(GMT-08:00) America/Los_Angeles,0.0,0,False,Run,1.630035e+09,-25200,NaN,3.0
3,0,"{u'resource_state': 1, u'id': 6831078}",1,90.4,NaN,3.653,NaN,0,False,NaN,...,-122.45,(GMT-08:00) America/Los_Angeles,26.1,0,False,Run,1.629909e+09,-25200,NaN,0.0
4,0,"{u'resource_state': 1, u'id': 6831078}",1,91.5,NaN,3.944,NaN,0,False,NaN,...,-122.45,(GMT-08:00) America/Los_Angeles,53.5,0,False,Run,1.628983e+09,-25200,NaN,0.0

In [41]:
activities_df = activities_df[['average_speed','distance','moving_time','name','start_date_local','id','workout_type','type']]
activities_df = activities_df[activities_df.type == 'Run']

In [42]:
activities_df['pace_mile'] = metres_mile / activities_df.average_speed
activities_df['pace_km'] = 1000 / activities_df.average_speed

In [43]:
activities_df['date'] = pd.to_datetime(activities_df.start_date_local.apply(lambda x : x.split('T')[0]))
activities_df.drop(['average_speed','start_date_local', 'type', 'id'], axis = 1, inplace = True)

In [44]:
activities_df.workout_type = activities_df.workout_type.fillna(0)
activities_df.workout_type = activities_df.workout_type.apply(lambda x : workout_type_dict[x])

In [45]:
activities_df['miles'] = activities_df.distance / metres_mile
activities_df['Distance (Kilometres)'] = activities_df.distance / 1000

In [46]:
activities_df['size'] = activities_df.moving_time.astype('float').apply(lambda x : math.sqrt(x))
sizeref = 20*max(activities_df['size'])/(100**2)
activities_df['year'] = activities_df.date.apply(lambda x: x.year)

In [47]:
activities_text = []
for i in range(len(activities_df)):
    row = activities_df.iloc[i,]
    activities_text.append('{}<br>{}<br>'.format(row['name'].encode('ascii','ignore'),row['date'])+ '{:.1f} miles<br>{:.2f} seconds/mile'.format(row['miles'], row['pace_mile']))

activities_df['text'] = activities_text

In [48]:
activities_df.head(2)

,distance,moving_time,name,workout_type,pace_mile,pace_km,date,miles,Distance (Kilometres),size,year,text
0,10324.0,2649,Morning Run,Run,412.968950,256.607647,2018-04-18,6.415052,10.3240,51.468437,2018,Morning Run<br>2018-04-18 00:00:00<br>6.4 mile...
1,4347.8,1156,WD,Run,427.902154,265.886732,2018-04-17,2.701604,4.3478,34.000000,2018,WD<br>2018-04-17 00:00:00<br>2.7 miles<br>427....

## 1. Bubble Chart

In [49]:
data = []
for run_type in ['Run','Workout','Long Run','Race']:
    trace = go.Scatter(
        x=activities_df['miles'][activities_df['workout_type'] == run_type],
        y=activities_df['pace_mile'][activities_df['workout_type'] == run_type],
        mode='markers',
        hoverinfo='text',
        opacity = 0.8,
        name=run_type,
        hovertext = activities_df['text'][activities_df['workout_type'] == run_type],
        marker=dict(
            symbol='circle',
            sizemode='area',
            sizeref=sizeref,
            size=activities_df['size'][activities_df['workout_type'] == run_type],
            line=dict(
                width=2
            ),
        )
    )
    data.append(trace)

layout = go.Layout(
    title='Run Summary',
    hovermode='closest',
    xaxis=dict(
        title='Distance (Miles)',
        gridcolor='rgb(255, 255, 255)',
        range=[0, 20],
        zerolinewidth=1,
        ticklen=5,
        gridwidth=2,
    ),
    yaxis=dict(
        title='Pace (Seconds per Mile)',
        gridcolor='rgb(255, 255, 255)',
        range=[0,600],
        zerolinewidth=1,
        ticklen=5,
        gridwidth=2,
    ),
    paper_bgcolor='rgb(243, 243, 243)',
    plot_bgcolor='rgb(243, 243, 243)',
)

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='bubble_chart_test.fig')

Add button to filter by year (include an all)

## 2. Parallel Coordinates

In [50]:
activities_grouped_df = activities_df.groupby(['date'], as_index = False)['miles'].sum()
activities_grouped_df['dow'] = activities_grouped_df.date.apply(lambda x : x.weekday())
activities_grouped_df['week_start'] = activities_grouped_df.date.apply(lambda x : x - timedelta(days=x.weekday()))

miles_per_week = activities_grouped_df.groupby(['week_start'], as_index = False).miles.sum()
by_week_df = pd.DataFrame(activities_grouped_df.week_start.unique(), columns = ['week_start'])

In [51]:
for i in range(7):
    by_week_df['{}'.format(i)] = i

for i in range(7):
    by_week_df = pd.merge(by_week_df, activities_grouped_df, left_on = ['week_start','{}'.format(i)], right_on = ['week_start','dow'], how='left',suffixes = ('','_{}'.format(i)))

In [52]:
by_week_df = by_week_df[['week_start','miles','miles_1','miles_2','miles_3','miles_4','miles_5','miles_6']]
by_week_df.columns = ['week_start','miles_0','miles_1','miles_2','miles_3','miles_4','miles_5','miles_6']
by_week_df['year'] = by_week_df['week_start'].apply(lambda x : x.year)
by_week_df.fillna(0, inplace = True)
by_week_df = pd.merge(by_week_df, miles_per_week, how='left', on='week_start')

In [53]:
days_dict = {0:'Monday',1:'Tuesday',2:'Wednesday',3:'Thursday',4:'Friday',5:'Saturday',6:'Sunday'}

In [54]:
dimensions = list()

for i in range(7):
    dimensions.append(
            dict(range = [0,20],
                constraintrange = [0,20],
                label = '{}'.format(days_dict[i]), values = by_week_df['miles_{}'.format(i)]))

In [55]:
data = [
    go.Parcoords(
        line = dict(color = by_week_df['miles'],
                   colorscale = 'Hot',
                   showscale = True,
                   reversescale=True),
        opacity=0.5,
        dimensions = dimensions,hoverinfo='text')
        
]

layout = go.Layout(
    plot_bgcolor = '#E5E5E5',
    paper_bgcolor = '#E5E5E5',
    title = 'Miles per week broken down by day'
)

fig = go.Figure(data = data, layout = layout)
py.iplot(fig, filename = 'parcoords')

Add label for week date

## 3. Miles Per Week

In [56]:
by_week_df['week_end'] = by_week_df['week_start'].apply(lambda x: (x + timedelta(days=6)).date())

In [57]:
data = []
for i in range(7):
    data.append(go.Bar(
        x=by_week_df['week_start'],
        y=by_week_df['miles_{}'.format(i)],
        name=days_dict[i]))

In [58]:
layout = go.Layout(
    barmode='stack'
)

In [59]:
layout = dict(
    barmode='stack',
    hovermode='closest',
    title='Miles per week',
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(count=1,
                    label='YTD',
                    step='year',
                    stepmode='todate'),
                dict(count=1,
                    label='1y',
                    step='year',
                    stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(),
        type='date'
    )
)

In [60]:
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='stacked-bar')

## Stacked Bar Chart by Race:

In [61]:
activities_df['week_start'] = activities_df.date.apply(lambda x : x - timedelta(days=x.weekday()))

In [62]:
activities_grouped_df_2 = activities_df.groupby(['workout_type','week_start'], as_index = False)['miles'].sum()

by_week_activity_df = pd.DataFrame(activities_grouped_df_2.week_start.unique(), columns = ['week_start'])

In [63]:
for i in activities_df.workout_type.unique():
    by_week_activity_df['{}'.format(i)] = i

In [64]:
by_week_activity_df.head()

  week_start  Run  Workout  Long Run  Race
0 2014-12-15  Run  Workout  Long Run  Race
1 2014-12-22  Run  Workout  Long Run  Race
2 2014-12-29  Run  Workout  Long Run  Race
3 2015-01-05  Run  Workout  Long Run  Race
4 2015-01-12  Run  Workout  Long Run  Race

In [65]:
by_week_activity_df['miles'] = 0

In [66]:
by_week_activity_df = pd.merge(by_week_activity_df, activities_grouped_df_2, left_on = ['week_start','{}'.format(activities_df.workout_type.unique()[0])], right_on = ['week_start','workout_type'], how='left',suffixes = ('','_{}'.format(activities_df.workout_type.unique()[0])))

In [68]:
for i in range(4):
    by_week_activity_df = pd.merge(by_week_activity_df, activities_grouped_df_2, left_on = ['week_start','{}'.format(activities_df.workout_type.unique()[i])], right_on = ['week_start','workout_type'], how='left',suffixes = ('','_{}'.format(activities_df.workout_type.unique()[i])))

In [69]:
by_week_activity_df.columns

Index([u'week_start', u'Run', u'Workout', u'Long Run', u'Race', u'miles',
       u'workout_type', u'miles_Run', u'workout_type_Run', u'miles_Run',
       u'workout_type_Workout', u'miles_Workout', u'workout_type_Long Run',
       u'miles_Long Run', u'workout_type_Race', u'miles_Race'],
      dtype='object')

In [70]:
by_week_activity_df = by_week_activity_df[['week_start','miles','miles_Workout','miles_Long Run','miles_Race']]

In [71]:
by_week_activity_df.columns = ['week_start','miles_Run','miles_Workout','miles_Long Run','miles_Race']
by_week_activity_df.fillna(0,inplace=True)

In [72]:
by_week_activity_df['miles_Run'] = np.array(by_week_activity_df['miles_Run']) + np.array(by_week_activity_df['miles_Long Run'])

In [73]:
data = []
custom_colours = ['blue','orange','red']
j=0
for i in ['Run','Workout','Race']:
    data.append(go.Bar(
        x=by_week_activity_df['week_start'],
        y=by_week_activity_df['miles_{}'.format(i)],
        marker=dict(color=custom_colours[j]),
        name=i))
    j+=1

In [74]:
layout = dict(
    barmode='stack',
    hovermode='closest',
    title='Miles per week',
    xaxis=dict(
        rangeselector=dict(
            buttons=list([
                dict(count=1,
                     label='1m',
                     step='month',
                     stepmode='backward'),
                dict(count=6,
                     label='6m',
                     step='month',
                     stepmode='backward'),
                dict(count=1,
                    label='YTD',
                    step='year',
                    stepmode='todate'),
                dict(count=1,
                    label='1y',
                    step='year',
                    stepmode='backward'),
                dict(step='all')
            ])
        ),
        rangeslider=dict(),
        type='date'
    )
)

In [75]:
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='stacked-bar')

In [38]:
races_df = activities_df[activities_df.workout_type == 'Race']

In [39]:
races_df

,distance,moving_time,name,workout_type,pace_mile,pace_km,date,miles,Distance (Kilometres),size,year,text,week_start
7,1500.0,233,UCLA Invite 1500,Race,249.975148,155.327742,2018-04-14,0.932059,1.5000,15.264338,2018,UCLA Invite 1500<br>2018-04-14 00:00:00<br>0.9...,2018-04-09
36,3000.0,536,Stanford Invite 3k SC - 8:56,Race,287.536180,178.667143,2018-03-31,1.864118,3.0000,23.151674,2018,Stanford Invite 3k SC - 8:56<br>2018-03-31 00:...,2018-03-26
60,1500.0,232,Hornet Invite 1500,Race,248.892669,154.655119,2018-03-17,0.932059,1.5000,15.231546,2018,Hornet Invite 1500<br>2018-03-17 00:00:00<br>0...,2018-03-12
84,3000.0,510,Quad Meet 3k,Race,273.604216,170.010201,2018-03-04,1.864118,3.0000,22.583180,2018,Quad Meet 3k<br>2018-03-04 00:00:00<br>1.9 mil...,2018-02-26
122,4540.8,899,Night Run,Race,318.618095,197.980598,2018-02-10,2.821529,4.5408,29.983329,2018,Night Run<br>2018-02-10 00:00:00<br>2.8 miles<...,2018-02-05
316,8136.1,1565,USF invite - 8th and 4th Don. Not used to raci...,Race,309.547990,192.344682,2017-09-02,5.055551,8.1361,39.560081,2017,USF invite - 8th and 4th Don. Not used to raci...,2017-08-28
446,3000.0,546,Harvard-Yale vs Oxford-Cambridge 3000 SC: 1st ...,Race,292.873521,181.983621,2017-04-08,1.864118,3.0000,23.366643,2017,Harvard-Yale vs Oxford-Cambridge 3000 SC: 1st ...,2017-04-03
475,4310.2,793,Southern 12 stage L2: 13:13. Team victory!,Race,296.106716,183.992640,2017-03-25,2.678241,4.3102,28.160256,2017,Southern 12 stage L2: 13:13. Team victory!<br>...,2017-03-20
614,12008.1,2343,Kent XC Champs - 4th SM,Race,314.017561,195.121951,2017-01-07,7.461506,12.0081,48.404545,2017,Kent XC Champs - 4th SM<br>2017-01-07 00:00:00...,2017-01-02
670,11705.0,2340,Varsity - bit of a stinker,Race,321.739304,199.920032,2016-12-03,7.273168,11.7050,48.373546,2016,Varsity - bit of a stinker<br>2016-12-03 00:00...,2016-11-28
681,3367.9,624,Afternoon Run,Race,298.191588,185.288123,2016-11-26,2.092721,3.3679,24.979992,2016,Afternoon Run<br>2016-11-26 00:00:00<br>2.1 mi...,2016-11-21
704,9477.3,1840,MK Cross Challenge,Race,312.432537,194.137061,2016-11-12,5.888936,9.4773,42.895221,2016,MK Cross Challenge<br>2016-11-12 00:00:00<br>5...,2016-11-07
721,4913.5,928,Mansfield L2 (15:27.60): Silver medals!! Took ...,Race,304.914740,189.465707,2016-11-05,3.053115,4.9135,30.463092,2016,Mansfield L2 (15:27.60): Silver medals!! Took ...,2016-10-31
770,5916.1,1075,National 6 stage,Race,292.447756,181.719062,2016-10-08,3.676103,5.9161,32.787193,2016,National 6 stage<br>2016-10-08 00:00:00<br>3.7...,2016-10-03
790,5683.2,1077,Southern 6-stage: very tactical and windy,Race,304.972522,189.501611,2016-09-25,3.531386,5.6832,32.817678,2016,Southern 6-stage: very tactical and windy<br>2...,2016-09-19
893,3000.0,542,"England Champs 3km SC - 9:02, 2nd",Race,290.757001,180.668473,2016-06-18,1.864118,3.0000,23.280893,2016,"England Champs 3km SC - 9:02, 2nd<br>2016-06-1...",2016-06-13
927,3050.8,546,So close!!,Race,287.999284,178.954903,2016-05-28,1.895684,3.0508,23.366643,2016,So close!!<br>2016-05-28 00:00:00<br>1.9 miles...,2016-05-23
966,3000.0,553,"Varsity 3k SC, 1st in 9:13.5.",Race,296.652535,184.331797,2016-05-07,1.864118,3.0000,23.515952,2016,"Varsity 3k SC, 1st in 9:13.5.<br>2016-05-07 00...",2016-05-02
972,7242.1,1890,BUCS final + WD,Race,419.973904,260.960334,2016-05-02,4.500043,7.2421,43.474130,2016,BUCS final + WD<br>2016-05-02 00:00:00<br>4.5 ...,2016-05-02
976,3000.0,566,"BUCS 3k SC Heat 1: 9:26, 5th Q.",Race,303.649057,188.679245,2016-04-30,1.864118,3.0000,23.790755,2016,"BUCS 3k SC Heat 1: 9:26, 5th Q.<br>2016-04-30 ...",2016-04-25
998,3070.1,516,Watford 3k - Gave up,Race,270.477311,168.067227,2016-04-20,1.907676,3.0701,22.715633,2016,Watford 3k - Gave up<br>2016-04-20 00:00:00<br...,2016-04-18
1005,8528.1,1663,"National 12 Stage, Leg 7 (Long): 27:43 for 8.65k",Race,313.833853,195.007800,2016-04-16,5.299129,8.5281,40.779897,2016,"National 12 Stage, Leg 7 (Long): 27:43 for 8.6...",2016-04-11
1049,6445.0,1206,Southern 12 Stage: 20:06 on Leg 1,Race,301.148952,187.125749,2016-03-20,4.004747,6.4450,34.727511,2016,Southern 12 Stage: 20:06 on Leg 1<br>2016-03-2...,2016-03-14
1064,5782.1,1077,THR - 5.8k in 17:50. 2nd fastest leg of the day,Race,299.746694,186.254424,2016-03-09,3.592839,5.7821,32.817678,2016,THR - 5.8k in 17:50. 2nd fastest leg of the da...,2016-03-07
1069,10460.7,2700,FEAR 1500 - 4:05 split ish. Bit of a waste of ...,Race,415.420754,258.131131,2016-03-05,6.499994,10.4607,51.961524,2016,FEAR 1500 - 4:05 split ish. Bit of a waste of ...,2016-02-29
1077,12474.3,2797,National XC - 97th,Race,360.838565,224.215247,2016-02-27,7.751190,12.4743,52.886671,2016,National XC - 97th<br>2016-02-27 00:00:00<br>7...,2016-02-22
1096,4836.1,903,Hyde Park Relays: 14:59 for 5km (ish). Team win!,Race,300.474235,186.706497,2016-02-13,3.005021,4.8361,30.049958,2016,Hyde Park Relays: 14:59 for 5km (ish). Team wi...,2016-02-08
1105,19312.1,4800,BUCS XC - 50ish th,Race,400.034800,248.570718,2016-02-06,12.000012,19.3121,69.282032,2016,BUCS XC - 50ish th<br>2016-02-06 00:00:00<br>1...,2016-02-01
1134,11943.3,2621,"Kent's, 11th. Brutal course",Race,353.157779,219.442616,2016-01-09,7.421241,11.9433,51.195703,2016,"Kent's, 11th. Brutal course<br>2016-01-09 00:0...",2016-01-04
1154,4986.7,991,TAC Boxing Day Handicap 5k: 16:30,Race,319.821145,198.728140,2015-12-26,3.098599,4.9867,31.480152,2015,TAC Boxing Day Handicap 5k: 16:30<br>2015-12-2...,2015-12-21
1179,11430.2,2336,"Varsity XC, 3rd! 38:56",Race,328.906601,204.373595,2015-12-05,7.102415,11.4302,48.332184,2015,"Varsity XC, 3rd! 38:56<br>2015-12-05 00:00:00<...",2015-11-30
1200,8839.5,1873,"Berks,Bucks&Oxon Champs, 1st.",Race,341.034117,211.909303,2015-11-21,5.492624,8.8395,43.278170,2015,"Berks,Bucks&Oxon Champs, 1st.<br>2015-11-21 00...",2015-11-16
1229,9339.1,1953,Cross Challege MK. 18th place. Muddy!!,Race,336.541196,209.117524,2015-11-07,5.803062,9.3391,44.192760,2015,Cross Challege MK. 18th place. Muddy!!<br>2015...,2015-11-02
1240,4727.0,943,"Mansfield XC Relays, Leg 1: 15:42 for 5k. Clai...",Race,321.033313,199.481348,2015-10-31,2.937229,4.7270,30.708305,2015,"Mansfield XC Relays, Leg 1: 15:42 for 5k. Clai...",2015-10-26
1296,5806.9,1114,"National 6 Stage: 18:34, ran crap",Race,308.716670,191.828122,2015-10-03,3.608249,5.8069,33.376639,2015,"National 6 Stage: 18:34, ran crap<br>2015-10-0...",2015-09-28
1331,3989.6,784,"B&B Relays, leg 4/4. Took over in second place...",Race,316.238947,196.502260,2015-09-12,2.479029,3.9896,28.000000,2015,"B&B Relays, leg 4/4. Took over in second place...",2015-09-07
1431,1500.0,234,"Sportcity Grand Prix, Manchester. 3:54 and rac...",Race,251.067083,156.006240,2015-05-30,0.932059,1.5000,15.297059,2015,"Sportcity Grand Prix, Manchester. 3:54 and rac...",2015-05-25
1450,2896.8,567,WU + Varsity 3k SC + WD. Day to forget. Slow a...,Race,315.000979,195.733020,2015-05-16,1.799993,2.8968,23.811762,2015,WU + Varsity 3k SC + WD. Day to forget. Slow a...,2015-05-11
1465,402.3,54,"BUCS 4 x 400m Final, leg 4. 54.0 split. Absolu...",Race,215.989800,134.210173,2015-05-04,0.249978,0.4023,7.348469,2015,"BUCS 4 x 400m Final, leg 4. 54.0 split. Absolu...",2015-05-04
1468,3000.0,556,BUCS 3k Chase final - 9:16 for 6th place. Crus...,Race,298.246850,185.322461,2015-05-04,1.864118,3.0000,23.579652,2015,BUCS 3k Chase final - 9:16 for 6th place. Crus...,2015-05-04
1472,3000.0,573,"BUCS heat - 9:33 for 4th, very slow start (3:2...",Race,307.360581,190.985485,2015-05-02,1.864118,3.0000,23.937418,2015,"BUCS heat - 9:33 for 4th, very slow start (3:2...",2015-04-27
1490,2536.8,651,Race to Dinner,Race,415.528014,258.197779,2015-04-21,1.576298,2.5368,25.514702,2015,Race to Dinner<br>2015-04-21 00:00:00<br>1.6 m...,2015-04-20
1497,2000.0,368,2k Chase - 6:08.1. Good run and more to come,Race,296.106716,183.992640,2015-04-18,1.242745,2.0000,19.183326,2015,2k Chase - 6:08.1. Good run and more to come<b...,2015-04-13
1511,5059.8,992,National 12 Stage Road Relays - 16:32 for 5.15...,Race,315.495001,196.039992,2015-04-11,3.144022,5.0598,31.496031,2015,National 12 Stage Road Relays - 16:32 for 5.15...,2015-04-06
1517,8851.4,2400,WU + TAC Open 1500 + WD. Time-trialled it and ...,Race,436.372017,271.149675,2015-04-06,5.500019,8.8514,48.989795,2015,WU + TAC Open 1500 + WD. Time-trialled it and ...,2015-04-06
1531,5050.0,935,"Southern 12 Stage - 16:35 for 5.05km, felt fla...",Race,297.970746,185.150898,2015-03-29,3.137932,5.0500,30.577770,2015,"Southern 12 Stage - 16:35 for 5.05km, felt fla...",2015-03-23
1566,5785.3,1128,THR: https://www.flickr.com/â€¦/165997409â€¦/in/se...,Race,313.772665,194.969780,2015-03-11,3.594828,5.7853,33.585711,2015,THR: https://www.flickr.com//165997409/in/set-...,2015-03-09
1585,10000.0,2175,35th - National XC at Parliament Hill. Thick m...,Race,350.008699,217.485863,2015-02-21,6.213727,10.0000,46.636895,2015,35th - National XC at Parliament Hill. Thick m...,2015-02-16
1611,4827.0,906,"Hyde Park Relays: 15:06 for 4.95km, translates...",Race,302.053303,187.687688,2015-02-07,2.999366,4.8270,30.099834,2015,"Hyde Park Relays: 15:06 for 4.95km, translates...",2015-02-02
1621,17702.8,4200,WU + BUCS + CD,Race,381.812574,237.247924,2015-01-31,11.000037,17.7028,64.807407,2015,WU + BUCS + CD<br>2015-01-31 00:00:00<br>11.0 ...,2015-01-26
1630,14484.1,3600,Southern XC Champs,Race,400.034800,248.570718,2015-01-24,9.000025,14.4841,60.000000,2015,Southern XC Champs<br>2015-01-24 00:00:00<br>9...,2015-01-19
1666,6000.0,1350,Kent XC Champs,Race,362.137714,225.022502,2015-01-03,3.728236,6.0000,36.742346,2015,Kent XC Champs<br>2015-01-03 00:00:00<br>3.7 m...,2014-12-29
1707,11748.2,2396,Varsity XC,Race,328.235774,203.956761,2014-12-06,7.300011,11.7482,48.948953,2014,Varsity XC<br>2014-12-06 00:00:00<br>7.3 miles...,2014-12-01
1714,8462.4,1745,"Chiltern League, Bedford Keysoe",Race,331.822680,206.185567,2014-11-08,5.258305,8.4624,41.773197,2014,"Chiltern League, Bedford Keysoe<br>2014-11-08 ...",2014-11-03
1715,2856.6,575,"Mansfield XC relays, leg 3: 9:36",Race,323.941224,201.288245,2014-11-01,1.775013,2.8566,23.979158,2014,"Mansfield XC relays, leg 3: 9:36<br>2014-11-01...",2014-10-27
1736,5825.3,1121,National 6 Stage relays,Race,309.667116,192.418703,2014-10-04,3.619683,5.8253,33.481338,2014,National 6 Stage relays<br>2014-10-04 00:00:00...,2014-09-29
1766,5981.1,1202,SEAA 6-stage: Aldershot,Race,323.420418,200.964630,2014-09-21,3.716492,5.9811,34.669872,2014,SEAA 6-stage: Aldershot<br>2014-09-21 00:00:00...,2014-09-15

annotations = []
for i in len(races_df):
    annotations.append(dict(
                                ))

## 4. Geographic Visualisation:

In [8]:
class AllTrailsLayer(BaseLayer):

    def __init__(self):
        self.data = read_csv('alex.csv')
        self.cmap = colorbrewer(self.data['runner_id'], alpha=220)
        self.t = self.data['timestamp'].min()
        self.painter = BatchPainter()


    def draw(self, proj, mouse_x, mouse_y, ui_manager):
        self.painter = BatchPainter()
        df = self.data.where((self.data['timestamp'] > self.t) & (self.data['timestamp'] <= self.t + 15*60))

        for taxi_id in set(df['runner_id']):
            grp = df.where(df['runner_id'] == taxi_id)
            self.painter.set_color(self.cmap[taxi_id])
            x, y = proj.lonlat_to_screen(grp['lon'], grp['lat'])
            self.painter.points(x, y, 10)

        self.t += 60

        if self.t > self.data['timestamp'].max():
            self.t = self.data['timestamp'].min()

        self.painter.batch_draw()
        ui_manager.info(epoch_to_str(self.t))

        
    # this should get modified as well moving forward. Might be too small
    def bbox(self):
        return BoundingBox(north=37.801421, west=-122.517339, south=37.730097, east=-122.424474)

In [ ]:
geoplotlib.add_layer(AllTrailsLayer())
x = geoplotlib.show()

In [48]:
class FollowTrailsLayer(BaseLayer):

    def __init__(self):
        self.data = read_csv('alex.csv')
        self.data = self.data.where(self.data['runner_id'] == list(set(self.data['runner_id']))[6])
        self.t = self.data['timestamp'].min()
        self.painter = BatchPainter()


    def draw(self, proj, mouse_x, mouse_y, ui_manager):
        self.painter = BatchPainter()
        self.painter.set_color([0,0,255])
        df = self.data.where((self.data['timestamp'] > self.t) & (self.data['timestamp'] <= self.t + 30*60))
        proj.fit(BoundingBox.from_points(lons=df['lon'], lats=df['lat']), max_zoom=14)
        x, y = proj.lonlat_to_screen(df['lon'], df['lat'])
        self.painter.linestrip(x, y, 10)
        self.t += 250
        if self.t > self.data['timestamp'].max():
            self.t = self.data['timestamp'].min()

        self.painter.batch_draw()
        ui_manager.info(epoch_to_str(self.t))

In [49]:
geoplotlib.add_layer(FollowTrailsLayer())
geoplotlib.show()

## Next Steps:

**Alex:**
- Keep working on smaller charts
- Start to build basic functionality into website
- Investigate using API to scrape other user's data

**Taylor:**
- re-build Python environment to run geoplotlib
- Download full set of Alex activities w/ rate limiting
- Fully integrate into geoplotlib plots

Alex things to consider:
- do miles per week broken down by run type
- histogram of run distances
- bubble chart of "live" activities

In [66]:
np.array([1,2,3])+np.array([1,2,3])

array([2, 4, 6])